:root {
  --black: #000000;  
  --fontLato: 'Lato';
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
}
main {
  position: relative;
  background-image: url('../images/v1015-104a.jpg');
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(64, 161, 161, 0.25) ;
  z-index: 10;
}
.current-weather {
  position: relative;
  background-image: url('../images/v1015-104a.jpg');
  background-size: 500px 500px;
  width: 480px;
  height: 480px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
#img-current-weather {
  position: absolute;
  top: -130px;
  left: -130px;
  transform: rotate(-4deg);
  z-index: 100;
}
.current-weather .locale {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  margin-top: 16px;
  padding-right: 24px;
  z-index: 20;
}
.current-weather .locale span{
  font-size: 14px;
  font-family: var(--fontLato);
  font-weight: 700;
}
.current-weather .locale i img{
  margin-top: 5px;
  width: 16px;
}

.current-weather .temperature {
  text-align: center;
  align-self: center;
  justify-self: center;
}
.current-weather .temperature h2 {
  position: relative;
  font-size: 88px;
  font-weight: 700;
  font-family: var(--fontLato);
  color: var(--black);
  margin-bottom: 12px;
}
.current-weather .temperature h2 span {
  position: absolute;
  top: 16px;
  right: -24px;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--fontLato);
}
.current-weather .temperature .min-max span,
.week-weather .week-card .min-max span {
  padding-left: 6px;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--fontLato);
}
.week-weather .week-card .min-max span {
  font-size: 16px;
}
.current-weather .temperature .min-max .min-temperature,
.week-weather .week-card .min-max .min-temperature {
  color: #58585f;
}
.current-weather .container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 16px;
}
.current-weather .container-cards .card {
  font-size: 18px;
  font-family: var(--fontLato);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 146.67px;
  height: 60px;
  background-color: rgba(155, 222, 245, .8);
  color: var(--black);
  border-radius: 6px;
}
.current-weather .container-cards .card h5 {
  font-size: 12px;
}
.container-flex {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 32px;
  gap: 24px;
  z-index: 100;
}
.air, .hour {
  width: 277px;
  height: 244px;
  background-color: rgb(155, 222, 245);
  border-radius: 10px;  
}
.hour {
  text-align: center;
}
.hour .title, .air .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 18px;
}
.hour .title img, .air .title img {
  width: 24px;
}
.air .title img {
  padding-top: 3px;
}
.hour .title h3, .air .title h3 {
  font-family: var(--fontLato);
  font-weight: 700;
  font-size: 16px;
}
.hour .clock-sun {
  margin: 0 auto;
  height: 130px;
  width: 230px;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
  border-bottom: 1px solid #000000;
}
.hour .clock-sun img {
  position: absolute;
  top: 4px;
  left: -10px;
}
.hour .clock-sun h4 {
  font-family: var(--fontLato);
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 64px;
  left: 96px;
}
.hour .sun-time {
  position: relative;
  width: 210px;
  height: 210px;
  top: 24px;
  left: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(251, 219, 96, 0) 50%, rgba(251, 219, 96, 0.2) 50%);
}
.hour .sun-time .sun {
  position: absolute;
  display: block;
  top: 94px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(251, 219, 96, 1);
}
.hour .sunset-time {
  font-family: var(--fontLato);
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.air .qualit {
  text-align: center;
  margin-top: 32px;
}
.air .qualit span {
  display: block;
}
.air .qualit span {
  font-family: var(--fontLato);
  font-size: 18px;
  font-weight: 700;
}
.air .qualit span:last-child {
  font-size: 40px;
}
.air .qualit span.good {
  color: #148B68;
}
.air .qualit span.bad {
  color: #B45F5F;
}
.air .container-cards {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  gap: 16px;
}
.air .container-cards .air-card span {
  display: block;
  text-align: center;
  font-family: var(--fontLato);
  font-size: 12px;
  font-weight: 700;
}
.air .container-cards .air-card span:first-child {
  color: #148B68;
}
.week-weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(155, 222, 245);
  width: 578px;
  height: 212px;
  border-radius: 10px;
  z-index: 100;
}
.week-weather span#adjacent {
  display: none;
}
.week-weather .week-card h5 {
  font-family: var(--fontLato);
  font-size: 14px;
  font-weight: 700;
}
.week-weather .week-card img {
  width: 80px;
}